name: Generate Extension Release

run-name: Generate Extension Release

permissions:
  contents: write

on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  generate-extension-release:
    name: Generate Extension Release
    runs-on: windows-latest
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install YAML Powershell Module
        shell: pwsh
        run: |
          Install-Module powershell-yaml -Scope CurrentUser -Force

      - name: Extract Version from extension.yaml
        shell: pwsh
        run: |
          $yaml = Get-Content extension.yaml | ConvertFrom-Yaml
          $version = $yaml.Version
          echo "RELEASE_VERSION=$version" >> $env:GITHUB_ENV

      - name: Publish Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release edit --draft=false v$env:RELEASE_VERSION
