name: Generate Extension Release

run-name: "Generate Extension Release for ${{ github.ref_name }}"

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  build-hdr-manager:
    name: Build Extension
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Extract Version
        id: version
        shell: pwsh
        run: |
          $tag = "${{ github.ref_name }}"
          $version = $tag -replace "^v", ""
          echo "version=$version" >> $env:GITHUB_OUTPUT

      - name: Build Extension
        shell: pwsh
        run: |
          dotnet build HdrManager.sln -c Release

      - name: Package Extension
        shell: pwsh
        run: |
            Compress-Archive -Path bin/Release/* -DestinationPath HdrManager_${{ steps.version.outputs.version }}.pext -Force
    
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} `
          --title "Version ${{ github.ref_name }}" `
          --draft `
          HdrManager_${{ steps.version.outputs.version }}.pext
